downloads/ti-*
sdks/ti-*
sdks/*
downloads/*
tools/*
.sj_log
.sj_info_guide
scripts/ubuntu/.tftproot
scripts/ubuntu/.targetfs
scripts/j7/nfs/bin/setupBoard.minicom
*__pycache__*
.vscode/settings.json
.Trash-1000/
sdks1/*
